.homeWrapper {
    border: 1px solid aqua;
}

.ownerInfo {

    ul{
        border: 1px solid greenyellow;
        list-style: none;
        li:first-child {
            margin-bottom: 1em;
        }
    }
}