.sendWrapper {
    display: flex;
    gap: 3em;
}

.sendMoneyForm {
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
        box-sizing: border-box;
    }
}

.sendMoneyFromWrapper{
   
   li{
    list-style: none;
   }
}

.sendMoneyToWrapper {
    width: 80%;
    margin-left: 2.5%;
}