.accountFormWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items:center;
    form{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.dropdownCurrency, .dropdownType {
    
            height: 4.5vh;
            box-sizing: border-box;
            width: 12vw;
            padding: 1%;
            border-radius: 5px;
}

.confirmation {
    button {
        padding: 1%;
        border-radius: 3px;
        border:.5px solid rgb(18, 17, 17);
        &:hover{
            background-color: rgb(18, 17, 17);
            border:1px solid rgb(18, 17, 17);
            color: lightgray;
        }
    }
}
